  @import url("responsive-nav.css");
  *,*::before,*::after{
    box-sizing: border-box;
  }
  html,body{
    min-height:100%;
  }
  body{
      margin:0;
      background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
      /* height:210vh; */
  }

  /* BIG SCREEN MODE STYLES */
  .wrapper{

    /* applied Height fix for mobile */
      height: 100%;
      width: 80vw;
      max-width: 1100px;
      margin: 1rem auto;
    
      background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
      box-shadow: 1px 3px 20px rgba(0,0,0,0.4);
      border-radius: 18px; 

      /* be careful with this position:relative */
      position: relative;

  }
  .ht-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    max-height: 300vh;
 

    /* scroll FALLBACK< CHANGE IMMEDIATELY FOR GRACEFUL DEG */
    /* overflow-y: scroll; */
  }

  /* styling the left column in DESKTOP/BIG SCREEN MODE  */
  .ht-container .title{

    /* WIDTH OF THE FIRST COLUMN */
    width:90%;
    height:20%;
    text-align: center;
    padding: 2rem;

    /* 9rem MARGIN IS WHAT PUSHES THE .TITLE ->(LANDING TITLE) CONTENT DOWN THE PAGE */
    margin: 9rem 1rem;
    

  }
  .ht-container h1{
    font-family: 'Arvo', serif;
    font-size: 2.625rem;
    color:#fff;
  }
  .ht-container p.landing-para{
    font-family: 'Arvo', serif;
    color: #fff;
    line-height: 1.7;
    

  }
  .action-btns button.cta{
      font-size: 1.4rem;
      /* adding responsive width and nice touches for button */
       max-width: 50vmax;
      width: 260px;
      padding: 0.625rem 2rem;
      border: 5px solid #21d4fd;
      border-radius: 2rem;
      margin: 0 .1rem;
      cursor: pointer;
      
  }
  /* where second grid column starts */

  .night{
    
    /* HEIGHT AND WIDTH OF THE CLIPPED IMAGE */
    height: 560px;

    /* this is where grid problems arise, ADJUST VIEWPORT LENGTHS TO FIT GRID APPROPRIATELY */
    width: 900px;

    /* here is where we add our OWN assets and change the styles for our OWN */
    background: url("../img/night-background.png");
    background-size: cover;
    /* margin: 5rem auto; */
    position: relative;
    box-shadow: 1px 2px 60px rgba(0,0,0,0.4);
    overflow-x: hidden;

  }
  .surface{

    /* again: WATCH HERE FOR GRID CHANGES */
    height:140px;
    width:500%;
    display: block;
    background: url("../img/Img_02.png");
    position: absolute;
    bottom:0;
    left:0px;
    background-repeat: repeat-x;
  }

  /* CAR ANIMATION: make changes as we dont need this */
    .moveRight{
        animation: moveRight 6s linear infinite;
        /* animation-fill-mode: forwards; */
        /* animation-iteration-count: 2; */
    }

    @keyframes moveRight{
      100%{
        transform: translateX(-2950px);
      }
    }
  .car{
    position: absolute;
    bottom:8%;
    left:24%;
  }
  .suspension{
    animation: suspension 1s;   /* linear infinite */
    /* animation-fill-mode: forwards;
    animation-iteration-count: 2; */
  }
  
@keyframes suspension{
  100%{transform: translateY(-1px);}
  50%{transform: translateY(2px);}
  0%{transform: translateY(-1px);}
}
.clip-svg{

  /* this can be anything we want in the future, the way this original design is done is not very practical compared to the way i would have done it, but for now this is for layout purposes
  
  note:  Clip path can be anything we want,  https://google.com/search/q=clippy+svg 
  */
  border: unset;

  clip-path: url("#myclip");
 /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); triangle */
}
.container-footer-mobile{
  display:none;
}

@media screen and (max-width:1068px){
  /* takes away our clip path'd image when screen sizes make too small */
    .view{
      display: none;
    }

    /* QUICK FIX!!! :)  */
    .ht-container{
      grid-template-areas: none;
      display: block;
    }
    .container-footer-mobile{
      display: block;
    }
    .container-footer-mobile img{
      max-width: 100%;
      overflow:hidden;
    }
    .landing-para{
      font-size:145% !important;
    }
    .title{
      width:100%;
      min-width:80%;
    
      margin: 9rem 0;
      

    }
    .title-mobile{
      background-image: url("../img/night-background.png");
      clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 4% 100%, 0% 51%, 4% 0);
      
    }



}
@media screen and (max-width:650px){
    .action-btns button.cta{
       width: 50%;
       text-align: center;
    }
}